body{
    background-color: black;
}
h1, h2, h3, h5, h6 {
	color: darkorange;
	}
hr {
    color: darkorange;
    background-color: orange;
}
h4 {
    display: inline-block;
    margin-right: 50px;
    color: steelblue;
}
#side-carousel img {
	margin: 0 auto;
	}

.footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}
    
.footer-blurb-item {
    padding: 20px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.small-print {
	text-align: center;
	}
.list-group{
    font-size: 20px;
}	
#india_flood_map {
    height: 600px;
    width: 500px;
    background-color: grey;
}
#winfo {
    font-size: 20px;
}

#subs {
    border: 5px solid orange;
    border-radius: 8px;
    background-color: black;
    color: orange;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 600px;
    margin-top: 5px;
}
#subs:hover {
    background: #ff9800;
    color: white;
}