{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid" style="margin-top:2%">

        <!-- Left Column -->
        <div class="col-sm-3">

            <!-- List-Group Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" style="font-size:30px;"><span class="glyphicon glyphicon-random"
                                                                          style="margin-right:30px;"></span>Floods</h1>
                </div>
                <div class="list-group">
                    <a href="{% url 'current_stats' %}" class="list-group-item">Mark my location</a>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'volunteer' %}" class="list-group-item">Rescue Team/ Volunteers</a>
                    {% else %}
                        <a href="{% url 'control' %}" class="list-group-item">Control Center</a>
                    {% endif %}
                    <a href="{% url 'flood_predictions' %}" class="list-group-item">Predictions</a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Forests the world over, have long been associated with helping to reduce flooding. Most flooding
                        disasters have been partly blamed on the effects of deforestation.

                        However, the emerging view amongst forest hydrologists is that forestry in general probably has
                        a relatively limited role to play in reducing major floods.</p>

                    <p>
                        <a class="btn btn-default"
                           href="https://www.forestresearch.gov.uk/research/forest-hydrology/can-forestry-reduce-flooding/">More</a>
                    </p>
                </div>
            </div>

            <!-- Text Panel -->

        </div><!--/Left Column-->


        <!-- Center Column -->
        <div class="col-sm-5">
          <div class="row" style="margin-left: 4%">
            <h4>Please mark your current location to see the condition there! </h4>
          </div>

          <br>
          <div class="row">
              <div class="thumbnail form-control col-lg-4" id="locator"
                   style="width: 100%; height: 500px;"></div>
              <br>
          </div>
          <input type="hidden" id="lon" name="lon">
          <input type="hidden" id="lat" name="lat">
          <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
          <script>
              var global_url = "{% url 'query' %}";
              var save_url = "{% url 'saveloc' %}";
          </script>
          <script src="{% static 'js/markOwn.js' %}"></script>
          <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcHofqZ7qVRGDmAOFyJK9ufcjJow6fFEU&callback=initMap"></script>
            <!-- Articles -->
          <br>
        </div><!--/Center Column-->


        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading" style="font-size: medium;">Current Stats</div>
                <div class="panel-body">
                    <img id="load" src="{% static 'images/ajax-loader.gif' %}">
                    <div class="row">
                      <span>
                        <h4 style="display: inline-block; margin-left: 10px">Location: </h4>
                      </span>
                        <div id="loc"  style="width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color:rgb(96, 63, 208);display: inline; margin-left: -10%"> </div>
                    </div>
                     <div class="row">
                       <span>
                         <h4 style="display: inline-block; margin-left: 10px">Reported Tweets: </h4>
                       </span>
                       <span>
                         <h4 id="tweet"  style="color:#ff8b34;display: inline-block; margin-left: -10%"> </h4>
                       </span>
                    </div>
                    <div class="row">
                      <span>
                        <h4 style="display: inline-block; margin-left: 10px">Reservoir Overflow Status: </h4>
                      </span>
                      <span>
                        <h4 id="overflow"  style="color:dodgerblue;display: inline-block; margin-left: -10%"> </h4>
                      </span>
                    </div>
                    <div class="row">
                      <span>
                        <h4 style="display: inline-block; margin-left: 10px">Safety Index: </h4>
                      </span>
                      <span>
                        <h4 id="safe_index"  style="color:dodgerblue;display: inline-block; margin-left: -10%"> </h4>
                      </span>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="row" style="margin-left: 1%; margin-top: 1%">
                        <button id="save" onclick="saveLoc()" class="btn btn-success">Save this location</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div><!--/Right Column -->
    </div><!--/container-fluid-->
{% endblock %}
