{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">

        <!-- Left Column -->
        <div class="col-sm-3">

            <!-- List-Group Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" style="font-size:30px;"><span class="glyphicon glyphicon-random"
                                                                          style="margin-right:30px;"></span>Floods</h1>
                </div>
                <div class="list-group">
                    <a href="{% url 'current_stats' %}" class="list-group-item">Mark my location</a>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'volunteer' %}" class="list-group-item">Rescue Team/ Volunteers</a>
                    {% else %}
                        <a href="{% url 'control' %}" class="list-group-item">Control Center</a>
                    {% endif %}
                    <a href="{% url 'flood_predictions' %}" class="list-group-item">Predictions</a>
                </div>
            </div>

            <!-- Text Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-cloud"></span>
                        Current Weather (New Delhi)
                    </h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="list-group" style="color: dodgerblue;">
                            <div class="form-row">
                                <h4 style="display: inline-block; padding-right: 35px;">
                                    Temperature</h4>{{ data.winfo.main.temp }} &#8451
                            </div>
                            <div class="form-row"><h4 style="display: inline-block; padding-right: 100px;">Rainfall</h4>
                                {% if data.winfo.rain %}
                                    {% for key, value in data.winfo.rain %}
                                        {{ value }}
                                    {% endfor %}
                                {% else %}Nil{% endif %}
                            </div>
                            <div class="form-row"><h4 style="display: inline-block; padding-right: 100px;">
                                Clouds</h4>{{ data.winfo.clouds.all }} %
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Factors Responsible</h1>
                </div>

                <div class="panel-body">
                    <p>Climate change has played an important role in causing large-scale floods across central India,
                        including the Mumbai floods of 2006 and 2017. During 1901-2015, there has been a three-fold rise
                        in widespread extreme rainfall events, across central and northern India – Gujarat, Maharashtra,
                        Madhya Pradesh, Chhattisgarh, Telangana, Odisha, Jharkhand, Assam and parts of Western Ghats –
                        Goa, north Karnataka and South Kerala.
                    </p>

                    <p>
                        <a href="https://en.wikipedia.org/wiki/Floods_in_India" class="btn btn-default">More</a>
                    </p>
                </div>
            </div>

            <!-- Text Panel -->

        </div><!--/Left Column-->


        <!-- Center Column -->
        <div class="col-sm-6">

            <!-- Alert -->
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>Map:</strong> India's Flood zones! States are marked according to number of deaths. More dark
                circles means more deaths. Click on the zones to know more.
            </div>

            <!-- Articles -->
            <h3>Major flood zones : </h3>
            <br>

            <div class="row" style="margin-left: 1%">
                <div id="india_flood_map"></div>
                <script>
                    var zones = {{ zones | safe }};
                </script>
                <script src="{% static "js/flood_main.js" %}"></script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcHofqZ7qVRGDmAOFyJK9ufcjJow6fFEU&callback=initMap">
                </script>
            </div>
            <br>
        </div><!--/Center Column-->


        <!-- Right Column -->
        <div class="col-sm-3">

            <!-- Form -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Important Announcements
                    </h3>
                </div>
                <div class="panel-body" style="color: red">
                    <p>{% if data.warn %}
                        {{ data.warn }}
                    {% else %}
                        Warnings will appear here and in the case of high emergency situation, it will be automatically
                        posted to our Facebook Page - 'Auxilior' and emails and sms will be sent to subscribed users.
                    {% endif %}
                    </p>
                </div>
            </div>
            <br>
            <!-- Carousel -->
            <h3><span class="glyphicon glyphicon-modal-window"></span> Prevention </h3>

            <div id="side-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#side-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#side-carousel" data-slide-to="1"></li>
                    <li data-target="#side-carousel" data-slide-to="2"></li>
                    <li data-target="#side-carousel" data-slide-to="3"></li>
                    <li data-target="#side-carousel" data-slide-to="4"></li>
                    <li data-target="#side-carousel" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                    <a href="{% static "images/pre1.jpg" %}" target="_blank">
                        <img style="height:400px;width:350px;" class="img-responsive"
                             src="{% static "images/pre1.jpg" %}" alt="">
                    </a>

                    </div>
                    <div class="item">
                        <a href="{% static "images/pre2.jpg" %}" target="_blank">
                        <img style="height:400px;width:350px;" class="img-responsive"
                             src="{% static "images/pre2.jpg" %}" alt="">
                             </a>

                    </div>
                    <div class="item">
                        <a href="{% static "images/pre3.jpg" %}" target="_blank">
                        <img style="height:400px;width:350px;" class="img-responsive"
                             src="{% static "images/pre3.jpg" %}" alt="">
                        </a>

                    </div>
                    <div class="item">
                        <a href="{% static "images/pre4.jpg" %}" target="_blank">
                        <img style="height:400px;width:350px;" class="img-responsive"
                             src="{% static "images/pre4.jpg" %}" alt="">
                        </a>
                    </div>

                    <div class="item">
                        <a href="{% static "images/pre5.jpg" %}" target="_blank">
                        <img style="height:400px;width:350px;" class="img-responsive"
                             src="{% static "images/pre5.jpg" %}" alt="">
                        </a>
                    </div>

                    <div class="item">
                        <a href="{% static "images/pre6.jpg" %}" target="_blank">
                        <img style="height:400px;width:350px;" class="img-responsive"
                             src="{% static "images/pre6.jpg" %}" alt="">
                        </a>
                    </div>

                </div>
                <a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div><!--/Right Column -->

    </div><!--/container-fluid-->
{% endblock %}