{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title" style="font-size:30px;"><span class="glyphicon glyphicon-random" style="margin-right:30px;"></span>Floods</h1>
				</div>
				<div class="list-group">
					<a href="{% url 'current_stats' %}" class="list-group-item">Current stats</a>
					<a href="#" class="list-group-item">Red Zones</a>
					<a href="#" class="list-group-item">Predictions</a>
				</div>
			</div>

			<!-- Text Panel -->
            <div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-cloud"></span>
						Current Weather
					</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="list-group" style="color: dodgerblue;">
							<div class="form-row">
                                <h4 style="display: inline-block; padding-right: 35px;">Temperature</h4>{{ data.winfo.main.temp }} &#8451
                            </div>
                            <div class="form-row"><h4 style="display: inline-block; padding-right: 100px;">Rainfall</h4>{% if data.winfo.rain %}
                            {{data.winfo.rain}}
                            {% else %}Nil{% endif %}
                            </div>
                            <div class="form-row"><h4 style="display: inline-block; padding-right: 100px;">Clouds</h4>{{ data.winfo.clouds.all }} %</div>
						</div>

					</form>
				</div>
			</div>
            
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Dramatically Engage</h1>
				</div>

				<div class="panel-body">
					<p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
					<p><button class="btn btn-default">Engage</button></p>
				</div>
			</div>

			<!-- Text Panel -->
				
		</div><!--/Left Column-->
  
  
		<!-- Center Column -->
		<div class="col-sm-6">
		
			<!-- Alert -->
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Map:</strong> Major dams and flood prone zones.
			</div>		
		
			<!-- Articles -->
			<div class="col-sm-12">
                <h3> Dams in {{ state }}</h3>
				<div id="dam_map" style="height: 450px; width: 550px; background-color: white;"></div>
                <script>
                    var state = '{{ state }}';
                    var dams = {{ dams | safe }};
                </script>
                <br>
                <div id="forest_map" style="height: 450px; width: 550px; background-color: white;"></div>
                <script src="{% static "js/states.js" %}"></script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcHofqZ7qVRGDmAOFyJK9ufcjJow6fFEU&callback=initialize">
                </script>

			</div>
			<hr>
			<div class="row">
				<article class="col-xs-12">
					<h2>Proactively Envisioned</h2>
					<p>Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">Yesterday</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 21 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 36 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>
		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">
			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-scale"></span> 
						Dramatically Engage
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100" style="width:100%">
							100% Proactively Envisioned
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:80%">
							80% Objectively Innovated
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
						aria-valuemin="0" aria-valuemax="100" style="width:45%">
							45% Portalled
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
						aria-valuemin="0" aria-valuemax="100" style="width:35%">
							35% Done
						</div>
					</div>
				</div>
			</div>
	  </div><!--/Right Column -->

	</div><!--/container-fluid-->
{% endblock %}